@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  table {
    @apply w-full;
  }
  table thead th {
    @apply text-left text-sm font-black;
  }
  table thead th:first-child {
    @apply w-10 text-center;
  }
  table thead th:nth-child(2) {
    @apply w-20;
  }
  table thead th:last-child {
    @apply w-16 text-right;
  }
  table tbody tr td:first-child,
  table tbody tr td:last-child {
    @apply text-center;
  }

  table tbody tr {
    @apply border-t-2 border-t-slate-200 last:border-b-2 last:border-b-slate-200 odd:bg-slate-100 hover:bg-gray-100;
  }
  table tbody tr td {
    @apply py-2 font-thin text-sm;
  }
  button:disabled {
    @apply cursor-not-allowed opacity-50 hover:opacity-50;
  }

  .modal__body::-webkit-scrollbar,
  .custom__scroll::-webkit-scrollbar,
  .table__wrapper::-webkit-scrollbar {
    @apply appearance-none w-2;
  }
  .modal__body::-webkit-scrollbar:vertical,
  .custom__scroll::-webkit-scrollbar:vertical,
  .table__wrapper::-webkit-scrollbar:vertical {
    @apply w-2;
  }
  .modal__body::-webkit-scrollbar:horizontal,
  .custom__scroll::-webkit-scrollbar:horizontal,
  .table__wrapper::-webkit-scrollbar:horizontal {
    @apply h-2 bg-gray-200;
  }
  .modal__body::-webkit-scrollbar-track-piece,
  .custom__scroll::-webkit-scrollbar-track-piece,
  .table__wrapper::-webkit-scrollbar-track-piece {
    @apply bg-gray-200;
  }
  .modal__body::-webkit-scrollbar-track,
  .custom__scroll::-webkit-scrollbar-track,
  .table__wrapper::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .modal__body::-webkit-scrollbar-thumb,
  .custom__scroll::-webkit-scrollbar-thumb,
  .table__wrapper::-webkit-scrollbar-thumb {
    @apply bg-gray-400 border-transparent border-8;
  }

  .form__wrap {
    @apply mb-4 relative;
  }

  .form__wrap span.error-show {
    @apply absolute top-1 right-1 text-xs text-alert;
  }

  .form__wrap:has(.error-show) input,
  .form__wrap:has(.error-show) select,
  .form__wrap:has(.error-show) textarea {
    @apply border-alert;
  }

  .form__wrap:has(.error-show) label {
    @apply text-alert;
  }

  label {
    @apply antialiased text-sm;
  }
  input,
  select {
    @apply border border-dark/50 p-2 rounded-md w-full h-[40px] outline-none disabled:cursor-not-allowed text-[12px];
  }
  textarea {
    @apply block border border-solid outline-none border-dark/50 p-2 rounded-lg w-full h-28 resize-none text-[12px];
  }
  input:disabled,
  input:checkbox:disabled,
  select:disabled,
  textarea:disabled,
  .disabled {
    @apply bg-gray-100 border-gray-200 disabled:cursor-not-allowed !cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }

  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-[#3e6fa5] bg-[#EDF4FD] outline-0;
  }
}

@layer components {
  .toggle__btn {
    @apply p-2 cursor-pointer lg:hidden;
  }
  .toggle__btn span {
    @apply block w-7 h-1 bg-white m-1 rounded-md transition-all;
  }
  .toggle__btn.active span:first-child {
    @apply rotate-45 translate-y-2;
  }
  .toggle__btn.active span:nth-child(2) {
    @apply opacity-0;
  }
  .toggle__btn.active span:last-child {
    @apply -rotate-45 -translate-y-2;
  }
  .main__grid {
    @apply grid grid-cols-[1fr] lg:grid-cols-[280px_1fr] overflow-hidden relative h-[calc(100vh_-_84px)];
  }
  .main__grid aside {
    @apply absolute z-40 lg:static -left-full transition-all;
  }
  .main__grid aside.active {
    @apply left-0;
  }
  .overlay {
    @apply absolute lg:static top-0 left-0 right-0 bottom-0 bg-black/50 z-30;
  }

  .main__grid main {
    @apply bg-slate-100;
  }
  .nav__link.active button {
    @apply bg-primary text-white relative before:content-[''] before:w-5 before:h-full before:bg-primary before:top-0 before:absolute before:-right-4 before:z-20 after:content-[''] after:z-10 after:w-0 after:h-0 after:absolute after:-right-12 after:-bottom-[11px] after:border-l-[16px] after:border-r-[31.84px] after:border-b-[11.5px] after:border-l-primaryShade after:border-r-transparent after:border-b-transparent;
  }
  .nav__link.active .sub__menu {
    @apply bg-slate-100 h-fit;
  }
  .sub__menu {
    @apply pl-9 h-0 overflow-hidden transition-all;
  }
  .sub__link {
    @apply text-sm font-light py-1;
  }
  .sub__link.active {
    @apply text-red-800;
  }
  .sub__list li {
    @apply py-2;
  }
  .sub__list li:hover button .sub__list__arrow {
    @apply border-primary text-white bg-primary;
  }
  .sub__list li:not(:first-child) {
    @apply mt-1 border-t-2;
  }
  .sub__list li button {
    @apply w-full flex items-center justify-between;
  }
  .sub__list li button .sub__list__arrow {
    @apply px-3 py-3 border-2 rounded-sm transition-all;
  }
  .breadcrumbs {
    @apply flex gap-5 text-sm;
  }
  .breadcrumbs li a {
    @apply relative before:content-['>'] before:-right-3.5 before:absolute;
  }
  .breadcrumbs li:last-child a {
    @apply before:hidden text-alert;
  }
  .modal__main {
    @apply flex flex-col;
  }
  .table__action {
    @apply flex items-center justify-center gap-3 text-base;
  }
  .tooltip {
    @apply flex justify-center items-center cursor-pointer relative whitespace-nowrap;
  }

  .tooltip:hover::after,
  .tooltip:hover::before {
    @apply opacity-100;
  }

  .tooltip::after {
    @apply content-[attr(data-tooltip)] absolute -top-[20px] text-[10px]  left-1/2  -translate-x-1/2  bg-black  bg-opacity-70 py-[4px] px-1.5 text-white  rounded-md opacity-0 leading-none;
  }

  .bank__details__wrapper ul.bank__details__cards {
    @apply grid grid-cols-1  lg:grid-cols-2  2xl:grid-cols-3 gap-5 justify-center py-8;
  }
  .bank__details__wrapper .bank__details__actions ul {
    @apply flex justify-between items-center gap-4 py-2 pb-4;
  }
  .bank__details__wrapper .bank__details__actions ul li {
    @apply flex gap-4;
  }
  .bank__details__item {
    @apply min-h-[200px] min-w-[400px] lg:min-h-[200px] lg:min-w-[300px] border-2 items-center justify-center rounded-md shadow-md p-4;
  }

  .bank__details__wrapper ul.bank__details__data li {
    @apply grid grid-cols-2 gap-8 text-sm;
  }

  .btn {
    @apply inline-block py-2 px-8 rounded-md transition-all;
  }
  .btn.btn--primary {
    @apply bg-secondary text-white text-sm font-thin hover:bg-secondary/90;
  }
  .btn.btn--outline {
    @apply bg-transparent text-dark border-2 hover:bg-gray-100;
  }
  .btn.btn--warning {
    @apply bg-warning text-white hover:bg-warning/80;
  }
  .btn.btn--success {
    @apply bg-success text-white hover:bg-success/80;
  }
  .btn.btn--alert {
    @apply bg-alert text-white hover:bg-alert/80;
  }
  .btn.btn--cancel {
    @apply bg-gray-100 text-black hover:bg-gray-200 text-sm;
  }
}
